.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

.InputElement {
  outline: none;
  border: 1px solid #d9d9d9;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #d9d9d9;
}

.Invalid {
  border: 1px solid #ff3030;
  background-color: #ffbcbc;
}